*
!.gitignore
!README.md

!nixos/
!nixos/**

!fastfetch/
!fastfetch/**

!fish/
!fish/**

!helix/
!helix/**

!ghostty/
!ghostty/**

!fcitx5/
!fcitx5/**
fcitx5/conf/notifications.conf
fcitx5/conf/cached_layouts
fcitx5/conf/classicui.conf

!niri/
!niri/**

!noctalia/
!noctalia/**

!nvim/
!nvim/**

!starship.toml

!git/
!git/**

!gh/
!gh/**

!lazygit/
!lazygit/**

!mpv/
!mpv/**

!qt5ct/
!qt5ct/**

!qt6ct/
!qt6ct/**

!rclone/
!rclone/**

!superfile/
!superfile/**

!systemd/
!systemd/**
systemd/user/*.wants/

!yazi/
!yazi/**

!zathura/
!zathura/**

!zed/
!zed/**

!mimeapps.list
!user-dirs.dirs

!GIMP/
!GIMP/**

# Runtime state
GIMP/3.0/action-history
GIMP/3.0/backups/
GIMP/3.0/CrashLog
GIMP/3.0/sessionrc
GIMP/3.0/pluginrc
GIMP/3.0/parasiterc
GIMP/3.0/plug-in-settings/
GIMP/3.0/tags.xml

# Cache / Generated
GIMP/3.0/tmp/
