*
!.gitignore

!fish/
!fish/**

!helix/
!helix/**

!ghostty/
!ghostty/**

!fcitx5/
!fcitx5/**
fcitx5/conf/notifications.conf
fcitx5/conf/cached_layouts

!rclone/
!rclone/**

!nvim/
!nvim/**

!pkg/
!pkg/**

!systemd/
!systemd/**
systemd/user/default.target.wants/
systemd/user/timers.target.wants/

!README.md
