*
!.gitignore
!README.md

!nixos/
!nixos/**

!fish/
!fish/**

!helix/
!helix/**

!ghostty/
!ghostty/**

!fcitx5/
!fcitx5/**
fcitx5/conf/notifications.conf
fcitx5/conf/cached_layouts
fcitx5/conf/classicui.conf

!niri/
!niri/**

!noctalia/
!noctalia/**

!nvim/
!nvim/**

!starship.toml

!git/
!git/**

!gh/
!gh/**

!lazygit/
!lazygit/**

!mpv/
!mpv/**

!qt5ct/
!qt5ct/**

!qt6ct/
!qt6ct/**

!rclone/
!rclone/**

!superfile/
!superfile/**

!systemd/
!systemd/**
systemd/user/*.wants/

!yazi/
!yazi/**

!zathura/
!zathura/**

!zed/
!zed/**

!mimeapps.list
!user-dirs.dirs

!GIMP/
!GIMP/**
