layout {

    focus-ring {
        active-color   "#3b4586"
        inactive-color "#fbf8ff"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#3b4586"
        inactive-color "#fbf8ff"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#3b4586"
        inactive-color "#535da0"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#3b458680"
    }
}

recent-windows {
    highlight {
        active-color "#3b4586"
        urgent-color "#ba1a1a"
    }
}
