layout {

    focus-ring {
        active-color   "#e2e1d7"
        inactive-color "#21211c"
        urgent-color   "#bf5739"
    }

    border {
        active-color   "#e2e1d7"
        inactive-color "#21211c"
        urgent-color   "#bf5739"
    }

    shadow {
        color "#21211c70"
    }

    tab-indicator {
        active-color   "#e2e1d7"
        inactive-color "#969271"
        urgent-color   "#bf5739"
    }

    insert-hint {
        color "#e2e1d780"
    }
}

recent-windows {
    highlight {
        active-color "#e2e1d7"
        urgent-color "#bf5739"
    }
}
