layout {

    focus-ring {
        active-color   "#d5dbcf"
        inactive-color "#1f211c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#d5dbcf"
        inactive-color "#1f211c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1f211c70"
    }

    tab-indicator {
        active-color   "#d5dbcf"
        inactive-color "#7c8e69"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#d5dbcf80"
    }
}

recent-windows {
    highlight {
        active-color "#d5dbcf"
        urgent-color "#fd4663"
    }
}
